.container_detail {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #ff9445;
  margin-top: 34px;
}

.container_detail h1 {
  margin: 0 0 50px 0;
  font-size: 4em;
}

.container_detail div {
  width: 100%;
  height: 450px;
  padding-top: 100px;
  border-radius: 5px;
}

.container_detail .detail {
  padding: 50px;
  background: radial-gradient(#8f6609d1, #000000b8);
}

.container_detail img {
  border-radius: 50%;
}
