
.containerForm {
  width: 680px;
  margin: 100px auto 0 auto;
  background-color: #12d996bf;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: center;
  align-items: center;
  gap: 75px;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 12px;
}

.container_img {
  width: 300px;
  height: 300px;
}

.container_img img {
  border-radius: 50%;
}

.form {
  font-size: larger;
  width: 260px;
}
.contenido {

  display: flex;
  flex-direction: column;
}

.contenido input {
  padding: 7px;
}

.danger {
  margin:2px 0 30px 0;
  font-size: smaller;
  height: 5px;
  color: #df0000;

}

.form button {
  padding: 8px;
  width: 80px;
  cursor:pointer;
  border:none;
  border-radius: 4px;
  box-shadow: 0 0 3px darkolivegreen;
}

.contenido input {
  outline: none;
}

.warning_input {
  border: 1px solid red;
  background-color: #ffb8b8;
  border-radius: 8px;
}

.success_input {
  border: 1px solid rgb(0, 122, 51);
  background-color: rgb(74 253 149) ;
  border-radius: 8px;
}

input:-webkit-autofill{
    box-shadow: 0 0 0px 10000px rgb(74 253 149) inset;
}