.containerCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  /* margin: 60px auto 0 auto; */
  margin: 34px auto 0 auto;
}

.select {
  display: flex;
  flex-direction: column;
  width: 115px;
  margin: 7px auto 0 auto;
  height: 50px;
}

.select select {
  padding: 3px;
    border-radius: 4px;
    opacity: 1;
    background-color: mediumaquamarine;
}
