.containerSearch {
  display: flex;
  justify-content: center;
  background-color: #a14b0b;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  width: 640px;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 5px;
}

.containerSearch .home {
  background-color: #ff9445;
}

.containerSearch .about {
  background-color: #28d9ed;
}

.containerSearch input,
.containerSearch button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  /* background-color: rgb(236, 236, 236); */
}

.containerSearch input {
  margin-right: 3px;
  width: 250px;
  margin-left: 70px;
  outline: none;
}

.containerSearch button {
  cursor: pointer;
}

.containerSearch button:hover {
  opacity: 0.8;
}

.containerSearch button:active {
  /* background-color: rgb(207, 204, 204); */
  opacity: 0.8;
}

.containerSearch .boton_sobre_input {
  position: absolute;
  margin-left: 226px;
  background-color: darkturquoise;
}

.containerSearch .disable {
  pointer-events: none;
  cursor: not-allowed;
}
